body{
    margin: 0px;
    text-align: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-size: 75%;
    color: #40514E;
}
.intro{
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
    
}
h1{
    margin: 50px auto 0px auto;
    font-size: 3rem; /*  use dynamic commenting value is inherited s*/
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    
}
hr{
    
    display: grid;
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.intro{
    font-weight: normal;
    
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    
}
.top-container{
    background-color: #e8ffff;
    position: relative;
    padding-top: 100px;
    margin-bottom: 20px;
}
.middle-container{
    padding: 50px 0px;
}
.bottom-container{
    background-color: #66BFBF;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 40px 0 20px 0;
}

.top-cloud{
    position: absolute;
    left: 850px;
    top: 40px;

}
.bottom-cloud{
    position: absolute;
    left: 100px;
    top: 400px;
    
}
.footer-link{
    color: #11999E;
    line-height: 3;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.footer-link:hover{
    color: #EAF6F6;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.img1{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;

}
.img2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.last{
    color: #EAF6F6;
    font-size: 0.65rem;
    
}
.btn{
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
.last-para{
    width: 30%;
    margin: 40px auto 60px;
}


